.social-icons .social-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 3.5rem;
  width: 3.5rem;
  text-decoration: none;
  color: rgb(241, 230, 221);
  border-radius: 100%;
  font-size: 2rem;
  margin-right: 1.5rem;
}
.social-icons .social-icon:last-child {
  margin-right: 0;
}
.social-icons .social-icon:hover {
  background-color: #bd5d38;
}



.subheading i {
  font-size: 18px;
}

.lead {
  color: white;
}


@media (min-width : 300px) and (max-width: 800px) {
  #about{
    margin-top: 50px;
  }
}